::selection {
    background: blue;
}

.input-field {
    z-index: 100;
}

.media-list {
    z-index: 1;
}

.media-list .card .card-image {
    min-height: 200px;
    background-color: lightgray;
}
.media-list .card img {
    max-height: 200px;
    object-fit: cover;
}
.media-list .card img.active {
    max-height: none;
    object-fit: contain;
}
